body {
    /*background: url('../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg');*/
    background-color: white;
    min-height: 100vh;
}
#title {
    text-align: center;
    color : orange;
    font-weight: bold;
    font-size: 3em;
    width: 100%;
}
#titleImage !important {
    width: 100%;
}
#introduction {
    text-align: center;
    color : black;
    font-weight: bold;
    font-size: 1.5em;
}
.buttons {
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.presContainer  {
    color: white;
    display: flex;
    margin-top: 50px;
    margin-right: 15px;
}
.presText {
    width: 50%;
    height: 50px;
    font-weight: bold;
}
.presContainer2 {
    color: white;
    display: flex;
    margin-top: 50px;
    margin-left: 15px;
}
.presText2 {
    width: 50%;
    height: 50px;
    font-weight: bold;
    font-size: 2em;
    justify-content: right;
}
.img1 {
    height: 400px;
    width: 600px;
}
.img2 {
    height: 700px;
    width: 600px;
}
.btnIndex {
    background-color: orange;
}
.btnIndex:hover {
    background-color: rgba(255, 166, 0, 0.767)
}