body {
    /*background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);*/
    background-color: white;
    overflow: auto;
}
.mainTitle {
    text-align: center;
    color : orange;
    font-weight: bold;
    font-size: 3em;
}