body {
    /*background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);*/
    background-color: black;
    overflow: auto;
}
.mainTitle {
    text-align: center;
    color : orange;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px 1px  black;
}