body {
    background-image: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);
    min-height: 100vh;
}
#title {
    text-align: center;
    color : orange;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px 1px  black;
}