body {
    /*background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);*/
    background-color: rgb(73, 72, 72);
    min-height: 100vh;
    font-size: 1.1em;

}
#title {

    color : orange;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px 1px  black;
    text-align: center;
}
#text {   
    color : orange;
    font-weight: bold;
    text-shadow: 1px 1px 1px  black;
}