body {
    /*background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);*/
    background-color: white;
    min-height: 100vh;

}
#title {
    color : orange;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
#text {   
    color : rgb(24, 23, 23);
    font-weight: bold;
}