body {
    background-color: white;
    min-height: 100vh;
    color: black;
}
#title {
    text-align: center;
    color : black;
    font-weight: bolder;
    font-size: 3em;
}
.userInfo {
    color: white;
}

a {
    color: orange;
    font-weight: normal;
    font-size: 1.5em; 
}
p {
    font-size: 1.2em;
}
h3 {
    text-align: center;
    font-weight: bold;

}
fa-edit {
    margin-left: 90%;
}
.tab {
    color : orange;
}
#modifyButton {
    color: white !important;
}