body {
    /*background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);*/
    background-color: rgb(94, 90, 90);
    min-height: 100vh;
    color: orange;
}
#title {
    text-align: center;
    color : orange;
    font-weight: bolder;
    font-size: 3em;
    text-shadow: 2px 2px 2px  black;
}
.userInfo {
    color: white;
}

a {
    color: orange;
    font-weight: normal;
    font-size: 1.5em;
}
p {
    font-size: 1.2em;
}
h3 {
    text-align: center;
    font-weight: bold;

}
fa-edit {
    margin-left: 90%;
}
