body {
    /* background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg); */
    background-color: white;
    min-height: 100vh;
    color: orange;
}
#title {
    text-align: center;
    color : orange;
    font-weight: bold;
    font-size: 3em;
    cursor: pointer;
}
.userInfo {
    color: white;
}

.tab a {
    color: orange;
    font-weight: bold;
    font-size: 1.5em;

}
li {
    list-style: none;
    justify-content: center;
}
i {
    margin-left: 3%;
    margin-bottom: 2%;
    cursor: pointer;
}