body {
    /*background: url(../Assets/milky-way-starry-sky-night-sky-star-956999.jpeg);*/
    background-color: rgb(73, 72, 72);
    min-height: 100vh;
    color: orange;
}
#title {
    text-align: center;
    color : orange;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px 1px  black;
}
.userInfo {
    color: white;
}

.tab a {
    color: orange;
    font-weight: bold;
    font-size: 1.5em;

}
li {
    list-style: none;
    justify-content: center;
}
i {
    margin-left: 3%;
    margin-bottom: 2%;
}