body {
    background-color: gainsboro;
}
h2 {
    margin: 5px; 
    text-align: center;
}

input[type=text] {
    margin:10px;
}
input[type=button] {
    margin:10px;
}  
.container {
    width: 20%; 
    float:left;
    clear: right;
    margin:10px; 
    border-radius: 5px;
    background-color: rgba(240, 128, 1, 0.884)
}
.sortable { 
    list-style-type: none; 
    margin:0; 
    padding:2px; 
    min-height:30px; 
    border-radius: 5px;
}
.sortable li { 
    margin: 3px 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1.2em; 
    height: auto ;
}
.sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}
.card {
    background-color:white;
    border-radius:3px; 
    margin: 1px;
}

.all {
    display: flex;
    flex-direction: row;

}
li {
    list-style: none;
    
    
}
body {
    background-image: url(../Assets/linear-white-gradient-blue-1920x1080-c2-b0c4de-fff5ee-a-60-f-14.png);
    background-repeat: initial;
    background-size: 210vh;
    
}

.connectedSortable {
    background-color: #ec5f28c9;
    
}
footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0
        
}
.colHeader {
    color: black;
}


* {-moz-box-sizing: border-box; box-sizing: border-box;}

@media screen and (max-width: 920px) {
.all {
    flex-wrap: wrap;
    
}
div.container {
    min-width: 90%;
}
  }